<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 保存対象の親フォルダー。 -->
    <add key="BackupDirectory" value="c:\some\directory" />
    <!-- 保存対象の子フォルダー（カンマ区切り）。空文字列の場合は、全フォルダー。 -->
    <add key="BackupSubDirectories" value="2020,2021" />
    <!-- Azure Blobの接続文字列-->
    <add key="BlobConnectionString" value="DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=xxxx;AccountKey=yyyy" />
    <!-- Azure Blobのコンテナー名-->
    <add key="BlobContainerName" value="AzureBlobBackup" />
  </appSettings>
</configuration>