<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 保存対象のフォルダー。 -->
    <add key="BackupDirectory" value="c:\some\directory" />
    <!-- Azure Blobの接続文字列-->
    <add key="BlobConnectionString" value="DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=xxxx;AccountKey=yyyy" />
    <!-- Azure Blobのコンテナー名-->
    <add key="BlobContainerName" value="AzureBlobBackup" />
  </appSettings>
</configuration>